{extend name="common:base" /}

{block name="content"}
<style>
    th span{margin-left: 20px;cursor:pointer;}
    .red{color: red;}
    .sort{    height: 24px; line-height: 24px; width: 50px; border: #FC6 solid 1px;}
</style>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{$meta_title}</h5>
                    <div class="pull-right" style="margin-top:-8px;">
                            <a class="btn btn-info" href="{:url('add_goods_brand')}"><i class="fa fa-plus"></i> 添加品牌</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row" style="margin-left:0px;" >
                        <a class="btn btn-default delete" href="{:url('add_goods_brand')}" >添加品牌 </i></a>
                        <!-- <a class="btn btn-default delete" onclick="del_all(0)" href="javascript:;" >批量删除 <i class="fa fa-trash-o"></i></a> -->
                    </div>

                    <div class="table-responsive">
                        <form action="{:URL('Admin/delAll')}" method="post">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>名称<span data-id="name" onclick="order(this)">↑↑</span><span data-id="name desc" onclick="order(this)">↓↓</span></th>
                                <th>图片</th>
                                <th>排序</th>
                                <th>状态<span data-id="status desc" onclick="order(this)">↑↑</span><span data-id="status" onclick="order(this)">↓↓</span></th>
                                <th>添加时间<span  data-id="addtime" onclick="order(this)">↑↑</span><span data-id="addtime desc" onclick="order(this)">↓↓</span></th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name="list" id="vo"}
                            <tr>
                                <td>{$vo.id}</td>
                                <td>{$vo.name}</td>
                                <td><img src="{$vo.priture}" width="50" alt=""></td>
                                <td><input type="text" name="1" data-id="{$vo.id}" value="{$vo.sort}" class="sort" onchange="goods_sort(this)"></td>
                                <td>{if condition="$vo.status eq 0"}启用{else/}禁用{/if}</td>
                                <td>{$vo.addtime|date="Y-m-d",###}</td>
                                <td>
                                    <a class="btn btn-default delete" href="{:url('add_goods_brand',['id'=>$vo.id],false)}" >编辑 </i></a>
                                    <a class="btn btn-default delete" onclick="del(this,{$vo.id})" href="javascript:;" >删除 </i></a>
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                        </form>
                    </div>
                    <ul class="pagination">
                        {$list->render()}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{/block}
{block name='script'}
<script>
    function del(obj,id){
        if(window.confirm('确认删除该商品吗？')){
            $.post("{:url('del_goods_brand')}",{'id':id},function(data){
                alert(data.msg);
                if(data.status){
                    $(obj).parents('tr').remove();
                }
            },'json'); 
        }
    }

    //排序
    function order(obj){
        order = $(obj).attr('data-id');
        location.href="{:url('goods_brand')}?order="+order;
    }

    $('th span').each(function(k,v){
        var tmp_order = '{$order}';
        if(tmp_order == $(v).attr('data-id')){
            $(v).addClass('red');
        }
    })

    function goods_sort(obj){
        var sort = $(obj).val();
        var id = $(obj).attr('data-id');
        $.post('{:url('goods/edit_brand_sort')}',{'sort':sort,'id':id},function(res){
            if(res.status != 1){
                layer.msg(res.msg);
            }else{
                layer.msg('修改成功',{'icon':1})
            }
        },'json')
    }
</script>
{/block}