{extend name="common:base" /}

{block name="content"}

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{$meta_title}</h5>
                    <div class="pull-right" style="margin-top:-8px;">
                            <a class="btn btn-info" href="{:url('add')}"><i class="fa fa-plus"></i> 添加礼盒</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row" style="margin-left:0px;" >
                        <a class="btn btn-default delete" href="{:url('add')}" >添加礼盒 </i></a>
                        <!-- <a class="btn btn-default delete" onclick="del_all(0)" href="javascript:;" >批量删除 <i class="fa fa-trash-o"></i></a> -->
                    </div>

                    <div class="table-responsive">
                        <form action="{:URL('Admin/delAll')}" method="post">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>类别 </th>
                                <th>制作人 </th>
                                <th>发送的对象</th>
                                <th>添加时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name="list" id="vo"}
                            <tr>
                                <td>{$vo.id}</td>
                                <td>{$vo.name}</td>
                                <td>{$vo.u_nickname}</td>
                                <td>{$vo.sender_nickname}</td>
                                <td>{$vo.addtime|date="Y-m-d",###}</td>
                                <td>
                                    <a class="btn btn-default delete" href="{:url('box/edit',['id'=>$vo.id],false)}" >编辑 </i></a>
                                    <a class="btn btn-default delete" onclick="del(this,{$vo.id})" href="javascript:;" >删除 </i></a>
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                        </form>
                    </div>
                    
                    <ul class="pagination">
                        {$list->render()}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{/block}
{block name='script'}
<script>
    function del(obj,id){
        if(window.confirm('确认删除该商品吗？')){
            $.post("{:url('del')}",{'id':id},function(data){
                alert(data.msg);
                if(data.status){
                    $(obj).parents('tr').remove();
                }
            },'json');
        }
    }

    function is_show(obj,goods_id){
        var is_show = $(obj).attr('is_show');

        if( is_show == 1 ){
            is_show = 0;
            ts = '是否下架?';
        }else{
            is_show = 1;
            ts = '是否上架?';
        }

        if(window.confirm(ts)){
            $.post("{:url('Goods/is_show')}",{'goods_id':goods_id,'is_show':is_show},function(data){
                if(data.code){
                    $(obj).attr('is_show',is_show);
                    if( is_show ){
                        $(obj).parents('tr').find('td').eq(4).html('已上架');
                        $(obj).html('下架');
                        alert('上架成功！');
                    }else{
                        $(obj).parents('tr').find('td').eq(4).html('未上架');
                        $(obj).html('上架');
                        alert('下架成功！');
                    }
                }
            },'json');
        }
    }

    function is_show_all(is_show){

        var goods_id = '';
        var flag = 0
        $('.ch_item').each(function(k,v){
            if( $(v).is(':checked') ){
                flag = 1;
                goods_id += $(v).val() + ',';
            }
        });
        if( !flag ){
            if( is_show == 1 ){
                alert('请勾选需要批量上架的ID！');
            }else{
                alert('请勾选需要批量下架的ID！');
            }
        }
        goods_id = goods_id.substring(0, goods_id.length - 1);  
        
        $.post("{:url('Goods/is_show_all')}",{'goods_id':goods_id,'is_show':is_show},function(data){
            if(data.code){
                if( is_show ){
                    alert('批量上架成功！');
                }else{
                    alert('批量下架成功！');
                }
                location.reload();
            }
        },'json');

    }

    function del_all(obj,box_id){
        var box_id = '';
        var flag = 0
        $('.ch_item').each(function(k,v){
            if( $(v).is(':checked') ){
                flag = 1;
                box_id += $(v).val() + ',';
            }
        });
        if( !flag ){
            alert('请勾选需要批量删除的ID！');
            return;
        }
        box_id = box_id.substring(0, box_id.length - 1);

        if(window.confirm('确认批量删除商品吗？')){
            $.post("{:url('box/del_all')}",{'box_id':box_id},function(data){
                if(data.code){
                    alert('批量删除成功！');
                    location.reload();
                }else{
                    alert('批量删除失败！');
                }
            },'json');
        }
    }

</script>
{/block}