{extend name="common:base" /}
{block name="content"}
<link rel="stylesheet"  type="text/css"  href="__STATIC__/layui/build/css/layui.css"  >
<style type="text/css">
    .form .row dd{
        float: left;
        display: inline-block;
        width: calc(100% - 85px);
    }
  
    ul, ol, li {
        list-style: none;
    }
    .upload_area .post_imglist li {
        position: relative;
        float: left;
        padding: 0 10px 5px 0;
        line-height: 38px;
    }
    .upload_area .upload_btn {
        background: url(__STATIC__/layui/src/images/upload_btn.png) center no-repeat;
        background-size: 60px auto;
        float: left;
        overflow: hidden;
        position: relative;
        width: 60px;
        height: 60px;
    }
    .del {
        position: absolute;
        right: 0px;
        top: -10px;
        background: url(__STATIC__/layui/src/images/icon_del.png) no-repeat 15px 0;
        background-size: 20px auto;
        width: 40px;
        height: 20px;
        display: inline-block;
    }
    .upload_area .upload_btn input {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        overflow: hidden;
        height: 60px;
        width: 60px;
    }
    #imglist li img.wh60 {
        margin: 0 auto;
        display: block;
        width: 60px;
        height: 60px;
    }
    #back div{
      position: fixed;
      top: 50%;
      left: 50%;
      width: 30%;
      height: auto;
      margin-left: -20%;
  
    }
  </style>
<style>    
    .pad-mar {
        margin: 10px 0 10px 20px;
    }
    
    .panel-heading {
        background: #E8ECEF;
        padding: 5px 0px 5px 40px;
        margin: 20px 0px 0 0;
        border: 1px solid #CFCFCF;
        border-bottom: none;
        font-size: 16px;
        font-weight: 200;
    }
    
    .panel-body {
        padding: 20px 0;
        margin-bottom: 20px;
        border: 1px solid #CFCFCF;
        border-top: none;
    }
    .form-group label{
        font-size: 12px;
    }
    
    .vbox .row{
        margin-right: -5px;
        margin-left: -5px;
    }
    
    .vbox .col-xs-12.col-md-6.col-lg-4{
        margin-bottom: 10px;
    }
    
    .form-horizontal .form-group{
        margin-right: -15px;
        margin-left: -15px;
        margin-bottom: 15px;
    }
    
    .form-horizontal .control-label{
        padding-top: 7px;
        margin-bottom: 0;
        text-align: right;
    }
    
</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{$meta_title}</h5>
                </div>
                <div class="ibox-content">
                    <form method="post" class="form-horizontal" action="">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">客服电话</label>
                            <div class="col-sm-9">
                                <input type="text" name="phone" value="{$info.phone}" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">appid</label>
                            <div class="col-sm-9">
                                <input type="text" name="appid" value="{$info.appid}" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">appsecret</label>
                            <div class="col-sm-9">
                                <input type="text" name="appsecret" value="{$info.appsecret}" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">盒子发送多久开奖（分钟）</label>
                            <div class="col-sm-9">
                                <input type="text" name="start_time" value="{$info.start_time}" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">盒子发送多久结束（分钟）</label>
                            <div class="col-sm-9">
                                <input type="text" name="end_time" value="{$info.end_time}" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <input value="提交" type="submit" class="btn btn-primary ajax-post" target-form="form-horizontal" type="submit" >
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{/block}

{block name="script"}
<script type="text/javascript" src="__STATIC__/ueditor/1.4.3/ueditor.config.js"></script> 
<script type="text/javascript" src="__STATIC__/ueditor/1.4.3/ueditor.all.min.js"> </script> 
<script type="text/javascript" src="__STATIC__/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script> 
<script src="__STATIC__/layui/src/localResizeIMG2.js" type="text/javascript"></script>
{/block}