{extend name="common:base" /}
{block name="style"}
<style type="text/css">
.table>thead>tr>th {
    text-align: center;
}
</style>
{/block}

{block name="content"}
<div class="ibox">
    <div class="ibox-content">

       </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table  table-bordered table-hover text-center">
                            <thead>
                                <tr>
                                    <th>参与用户</th>
                                    <th >参与时间</th>
                                    <th>状态</th>
                                    <th>进度</th>
                                    <th>操作</th>
                                </tr>
                            </thead> 
                            <tbody>
                                {notempty name="list"}
                                {volist name="list" id="vo"}
                                <tr>
                                    <td>
                                        {$vo.nickname}
                                        {notempty name="vo.avatar"}
                                        <img src="{$vo.avatar}" style="width:60px;height:60px;border-radius:50%;" />
                                        {/notempty}
                                    </td>
                                    <td>{:date('Y-m-d H:i:s',$vo.addtime)}</td>
                                    <td>
                                        {if condition="$vo.status eq 0"}
                                            未开奖
                                        {elseif condition="$vo.status eq 1" /}
                                            已中奖
                                        {elseif condition="$vo.status eq 2" /}
                                            未中奖    
                                        {/if}
                                    </td>
                                    <td>
                                        {if condition="$vo.join_status eq 0"}
                                            无
                                        {elseif condition="$vo.join_status eq 1" /}
                                            已填写地址
                                        {elseif condition="$vo.join_status eq 2" /}
                                            已发货   
                                        {elseif condition="$vo.join_status eq 3" /}
                                            已完成
                                        {elseif condition="$vo.join_status eq 4" /}
                                            已取消  
                                        {elseif condition="$vo.join_status eq 5" /}
                                            已转赠
                                        {elseif condition="$vo.join_status eq 6" /}
                                            已转动转盘 
                                        {/if}
                                    </td>
                                    <td>
                                        {if condition="$vo.status eq 0"}
                                        <a class="btn btn-default" href="JavaScript:;" onclick="setgift({$vo.id},1)"><i class="fa fa-list"></i> 设置为<span style="color:red;">中奖</span></a>
                                        {/if}
                                        {if condition="$vo.status eq 1 and $vo.join_status eq 0"}
                                        <a class="btn btn-default" href="JavaScript:;" onclick="setgift({$vo.id},2)"><i class="fa fa-list"></i> 设置为<span style="color:blue;">不中奖</span></a>
                                        {/if}
                                    </td>
                                </tr>
                                {/volist}
                                {/notempty}
                            </tbody>
                        </table>
              
                    </div>
                </div>

<script>
    function setgift(id,status){
        $.ajax({
            type : "GET",
            url:"/admin/order/setgift/id/"+id+'/status/'+status,
            dataType:'json',
            success: function(data){
                if(data.status == 1){
                    alert(data.msg);
					location.reload();
                }else
                    alert(data.msg);
            }
        });			
    }    
</script>

{/block}