{extend name="common:base" /}
{block name="content"}
<link rel="stylesheet"  type="text/css"  href="__STATIC__/layui/build/css/layui.css"  >
<link rel="stylesheet"  type="text/css"  href="__STATIC__/css/form.css"  >
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>添加通知</h5>
                </div>
                <div class="ibox-content">
                    <form method="post" class="form-horizontal"  action="{:url('add_article')}"  enctype="multipart/form-data">
                        <input type="hidden" name="id" value="{$info.id}">
                        <input type="hidden" name="logo" value="{$info.logo|default='/static/inspinia/img/default1.jpg'}">
                        <div style="display: none;" id="covers">
                            {volist name="info.cover" id="vo"}
                            <input type="hidden" name="cover[]" value="{$vo}">
                            {/volist}
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span style="color:red;">*</span>标题</label>
                            <div class="col-sm-9">
                                <input type="text" name="title" value="{$info.title}" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">logo</label>
                            <div class="col-sm-9">
                                <dd class="upload_area clearfix" style="margin: 0 auto;">
                                    <ul id="imglist" class="post_imglist">
                                        <li><img class="wh60" id="image_src" src="{$info.logo|default='/static/inspinia/img/default1.jpg'}"></li>
                                    </ul>
                                    <label for="image_file"><div class="upload_btn"></div></label>
                                </dd>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">封面图</label>
                            <div class="col-sm-9">
                                <dd class="upload_area clearfix" style="margin: 0 auto;">
                                    <ul id="imglist" class="post_imglist post_imglist2">
                                        {volist name="info.cover" id="vv"}
                                        <li>
                                            <img class="wh60" src="{$vv}">
                                            <p class="del" onclick="del_img(this)"></p>
                                        </li>
                                        {/volist}
                                    </ul>
                                    <label for="image_file2"><div class="upload_btn"></div></label>
                                </dd>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">内容</label>
                            <div class="col-sm-9">
                                <script id="editor" name="content" type="text/plain" style="width:100%;height:400px;">{$info.content}</script> 
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">排序</label>
                            <div class="col-sm-9">
                                <input type="text" name="sort" value="{$info.sort}" class="form-control">
                            </div>
                        </div> 
                        <div class="form-group">
                            <label class="col-sm-2 control-label">是否发布</label>
                            <div class="col-sm-9">
                                <div class="radio radio-success radio-inline">
                                    <input type="radio" value="1" name="status" {if condition="$info.status eq 1"}checked="true"{/if} id="show1" >
                                    <label for="show1">是</label>
                                </div>
                                <div class="radio radio-danger radio-inline">
                                    <input type="radio" {if condition="$info.status eq 0"}checked="true"{/if} value="0" name="status" id="show2"  >
                                    <label for="show2">否</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <input value="提交" type="submit" class="btn btn-primary ajax-post" target-form="form-horizontal" type="submit">
                                <button class="btn btn-white" onclick="javascript:history.back(-1);return false;">取消</button>
                            </div> 
                        </div>
                    </form>
                    <!-- 图片上传 -->
                    <form method="post" class="form-horizontal" id="ajaxForm" action="{:url('goods/upload_file')}" enctype="multipart/form-data">
                        <input type="file" id="image_file" value="" accept="image/*" name="file" onchange="upload_file()" style="display: none">
                    </form>
                    <form method="post" class="form-horizontal" id="ajaxForm2" action="{:url('UploadFile')}" enctype="multipart/form-data">
                        <input type="file" id="image_file2" value="" accept="image/*" name="image[]" onchange="upload_file2()" multiple  style="display: none">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{/block}

{block name="script"}
<script src="__STATIC__/js/jquery.form.js" type="text/javascript"></script>
<script type="text/javascript" src="__STATIC__/ueditor/1.4.3/ueditor.config.js"></script> 
<script type="text/javascript" src="__STATIC__/ueditor/1.4.3/ueditor.all.min.js"> </script> 
<script type="text/javascript" src="__STATIC__/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script> 
<script src="__STATIC__/layui/src/localResizeIMG2.js" type="text/javascript"></script>
<script type="text/javascript">
    //文件上传
    function upload_file(){
        $("#ajaxForm").ajaxSubmit(function (data) {
            if(data.status == 1){
                $('input[name="logo"]').val(data.data);
                $('#image_src').attr('src',data.data);
            }else{
                alert(data.msg);
            }
        });
    }
    //多文件上传
    function upload_file2(){
        // var li = '<li><img class="wh60" id="image_src2" src=""><p class="del"></p></li>';
        $("#ajaxForm2").ajaxSubmit(function (data) {
            if(data.status == 1){
                $.each(data.data,function(k,v){
                    var str = '<input name="cover[]" value="'+v+'">';
                    $('#covers').append(str);
                    var str_img = '<li><img class="wh60" src="'+v+'"><p class="del" onclick="del_img(this)"></p></li>';
                    $('.post_imglist2').append(str_img);
                })
            }else{
                alert(data.msg);
            }
        });
    }

    // 删除图片
    function del_img(obj)
    {
        $(obj).parent().remove();
        var url = $(obj).prev().attr('src');
        $('input[name="cover[]"]').each(function(k,v){
            if(url == $(v).val()){
                $('input[name="cover[]"]').eq(k).remove();
            }
        })
    }

    //实例化富文本编辑器
    var ue = UE.getEditor('editor',{
        initialFrameWidth:650,
        initialFrameHeight:180,
        toolbars: [[
            'fullscreen', 'source', '|', 'undo', 'redo', '|', 'searchreplace' ,
            'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch','pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', '|',
            'rowspacingtop', 'rowspacingbottom', 'lineheight', 'paragraph', 'fontfamily', 'fontsize', 'indent', '|',
            'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 'touppercase', 'tolowercase', '|',
            'link', 'unlink', 'insertimage', 'insertvideo', 'music', 'attachment', 'map', 'gmap',
        ]]
    });
</script>
{/block}