{extend name="common:base" /}

{block name="content"}
<style>
    th span{margin-left: 20px;cursor:pointer;}
    .red{color: red;}
    .sort{    height: 24px; line-height: 24px; width: 50px; border: #FC6 solid 1px;}
</style>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{$meta_title}</h5>
                    <div class="pull-right" style="margin-top:-8px;">
                            <!-- <a class="btn btn-info" href="{:url('add')}"><i class="fa fa-plus"></i> 添加礼盒</a> -->
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row" style="margin-left:0px;" >
                        <form method="get" action="">
                            <!-- <div class="col-sm-2 m-b-xs">
                                <select name="status_ed" class="input-sm form-control input-s-sm inline">
                                    <option value="">全部</option>
                                    <option value="0" {if condition="$status_ed heq '0'"}selected{/if}>未审核</option>
                                    <option value="1" {if condition="$status_ed eq '1'"}selected{/if}>审核通过</option>
                                    <option value="2" {if condition="$status_ed eq '2'"}selected{/if}>未通过</option>
                                </select>
                            </div> -->
                            
                            <div class="col-sm-2">
                                <div class="input-group"><input type="text" name="keyword" value="{$keyword}" placeholder="搜索标题名称" class="input-sm form-control"> </div>
                            </div>
    
                            <div class="col-sm-3">
                                <div class="input-group"> 
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-sm btn-primary"> 搜索</button> 
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="table-responsive">
                        <form action="{:URL('Admin/delAll')}" method="post">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th> 
                                <th>标题<span data-id="title" onclick="order(this)">↑↑</span><span data-id="title desc" onclick="order(this)">↓↓</span></th>
                                <th>发布人<span data-id="user_id" onclick="order(this)">↑↑</span><span data-id="user_id desc" onclick="order(this)">↓↓</span></th>
                                <th>类别<span data-id="type" onclick="order(this)">↑↑</span><span data-id="type desc" onclick="order(this)">↓↓</span></th>
                                <th>排序<span data-id="sort" onclick="order(this)">↑↑</span><span data-id="sort desc" onclick="order(this)">↓↓</span></th>
                                <!-- <th>状态</th> -->
                                <th>点赞数<span data-id="point_num" onclick="order(this)">↑↑</span><span data-id="point_num desc" onclick="order(this)">↓↓</span></th>
                                <th>是否推荐<span data-id="is_rec" onclick="order(this)">↑↑</span><span data-id="is_rec desc" onclick="order(this)">↓↓</span></th>
                                <th>是否首页推荐<span data-id="is_home" onclick="order(this)">↑↑</span><span data-id="is_home desc" onclick="order(this)">↓↓</span></th>
                                <th>发布时间<span data-id="addtime" onclick="order(this)">↑↑</span><span data-id="addtime desc" onclick="order(this)">↓↓</span></th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody> 
                            {volist name="list" id="vo"}
                            <tr>
                                <td>{$vo.id}</td>
                                <td>{$vo.title}</td>
                                <td>{$vo.nickname}</td>
                                <td>{if condition="$vo.type"}视频{else/}图文{/if}</td>
                                <td><input type="text" name="1" data-id="{$vo.id}" value="{$vo.sort}" class="sort" onchange="goods_sort(this)"></td>
                                <!-- <td>{$vo.status_name}</td> -->
                                <td>{$vo.point_num}</td>
                                <td align="left" axis="col0">
                                    <div style="text-align: left; width: 30px;">
                                        {if condition='$vo.is_rec eq 1'}
                                        <span onClick="changeTableVal('sharing_circle','id','{$vo.id}','is_rec',this)">
                                                    <i class="fa fa-check-circle"></i>是</span>
                                        {else/}
                                        <span onClick="changeTableVal('sharing_circle','id','{$vo.id}','is_rec',this)">
                                                    <i class="fa fa-ban"></i>否</span>
                                        {/if}
                                    </div>
                                </td>
                                <td align="left" axis="col0">
                                    <div style="text-align: left; width: 30px;">
                                        {if condition='$vo.is_home eq 1'}
                                        <span onClick="changeTableVal('sharing_circle','id','{$vo.id}','is_home',this)">
                                                    <i class="fa fa-check-circle"></i>是</span>
                                        {else/}
                                        <span onClick="changeTableVal('sharing_circle','id','{$vo.id}','is_home',this)">
                                                    <i class="fa fa-ban"></i>否</span>
                                        {/if}
                                    </div>
                                </td>
                                <td>{$vo.addtime|date="Y-m-d H:i:s",###}</td>
                                <td>
                                    <a class="btn btn-default delete" href="{:url('edit',['id'=>$vo.id],false)}" >查看详情</i></a>
                                    <a class="btn btn-default delete" onclick="del(this,{$vo.id})" href="javascript:;" >删除</i></a>
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                        </form>
                    </div>
                    
                    <ul class="pagination">
                        {$list->render()}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{/block}
{block name='script'}
<script>
    function del(obj,id){
        if(window.confirm('确认删除吗？')){
            $.post("{:url('del')}",{'id':id},function(data){
                alert(data.msg);
                if(data.status){
                    $(obj).parents('tr').remove();
                }
            },'json');
        }
    }

    function is_show(obj,goods_id){
        var is_show = $(obj).attr('is_show');

        if( is_show == 1 ){
            is_show = 0;
            ts = '是否下架?';
        }else{
            is_show = 1;
            ts = '是否上架?';
        }

        if(window.confirm(ts)){
            $.post("{:url('Goods/is_show')}",{'goods_id':goods_id,'is_show':is_show},function(data){
                if(data.code){
                    $(obj).attr('is_show',is_show);
                    if( is_show ){
                        $(obj).parents('tr').find('td').eq(4).html('已上架');
                        $(obj).html('下架');
                        alert('上架成功！');
                    }else{
                        $(obj).parents('tr').find('td').eq(4).html('未上架');
                        $(obj).html('上架');
                        alert('下架成功！');
                    }
                }
            },'json');
        }
    }

    function is_show_all(is_show){

        var goods_id = '';
        var flag = 0
        $('.ch_item').each(function(k,v){
            if( $(v).is(':checked') ){
                flag = 1;
                goods_id += $(v).val() + ',';
            }
        });
        if( !flag ){
            if( is_show == 1 ){
                alert('请勾选需要批量上架的ID！');
            }else{
                alert('请勾选需要批量下架的ID！');
            }
        }
        goods_id = goods_id.substring(0, goods_id.length - 1);  
        
        $.post("{:url('Goods/is_show_all')}",{'goods_id':goods_id,'is_show':is_show},function(data){
            if(data.code){
                if( is_show ){
                    alert('批量上架成功！');
                }else{
                    alert('批量下架成功！');
                }
                location.reload();
            }
        },'json');

    }

    function del_all(obj,box_id){
        var box_id = '';
        var flag = 0
        $('.ch_item').each(function(k,v){
            if( $(v).is(':checked') ){
                flag = 1;
                box_id += $(v).val() + ',';
            }
        });
        if( !flag ){
            alert('请勾选需要批量删除的ID！');
            return;
        }
        box_id = box_id.substring(0, box_id.length - 1);

        if(window.confirm('确认批量删除商品吗？')){
            $.post("{:url('box/del_all')}",{'box_id':box_id},function(data){
                if(data.code){
                    alert('批量删除成功！');
                    location.reload();
                }else{
                    alert('批量删除失败！');
                }
            },'json');
        }
    }

    function goods_sort(obj){
        var sort = $(obj).val();
        var id = $(obj).attr('data-id');
        $.post('{:url('sharing/edit_sort')}',{'sort':sort,'id':id},function(res){
            if(res.status != 1){
                layer.msg(res.msg);
            }else{
                layer.msg('修改成功',{'icon':1})
            }
        },'json')
    }

    //排序
    function order(obj){
        order = $(obj).attr('data-id');
        location.href="{:url('index')}?order="+order;
    }

    $('th span').each(function(k,v){
        var tmp_order = '{$order}';
        if(tmp_order == $(v).attr('data-id')){
            $(v).addClass('red');
        }
    })
    

</script>
{/block}